<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/app.js"></script>
    <script src="/ConnectionController.js"></script>
    <script src="/FileController.js"></script>
    <script src="/DisconnectController.js"></script>

</head>
<body ng-app="App">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <header class="row">
        <form class="form-inline" ng-controller="ConnectionController">
            <!--<button add-watcher class="btn btn-default">Connect</button>-->
            <!--<button ng-click="connect()"  class="btn btn-default">Connect</button>-->
            <!--<button ng-click="closeWatchers()" ng-disabled="isConnected" class="btn btn-default">Disconnect</button>-->
        </form>
        <div class="row" ng-controller="FileController">
            <div class="col-md-12">

                <div class="form-group">
                    <div class="col-md-4">
                        <label for="pathToAdd">Add file:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="pathToAddFile" id="pathToAdd" class="form-control"
                               placeholder="C://...">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="addFile(pathToAddFile)" class="btn btn-default">Add file</button>
                    </div>
                    <!--<span></span>-->
                </div>

            </div>
        </div>

    </header>
    <section>
        <div id="watchers-space" class="row">
            <Watcher></Watcher>
        </div>
    </section>
</div>
</body>
</html>
