<div ng-controller="ConnectionController" class="row">

    <div class="mt-ml row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="mr-md col-md-3">
                        <!--<div ng-click="remove()">X</div>-->
                        <label for="path">Connect to directory: </label>
                    </div>
                    <div class="mr-md col-md-3">
                        <input type="text" ng-model="path" id="path" class="form-control" placeholder="C://...">
                    </div>
                    <div class="col-md-3">
                        <button ng-click="startWatching(path)" class="btn btn-default">Connect</button>
                    </div>
                    <div class="mr-md col-md-3" ng-controller="DisconnectController">
                        <button ng-click="closeWatchers()" ng-disabled="isConnected" class="btn btn-default">
                            Disconnect
                        </button>
                    </div>
                    <span></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Events</th>
                </tr>
                </thead>
            </table>
            <listener-events-directive event="event" id="events"></listener-events-directive>
        </div>
    </div>
</div>